:root{
    font-size: 10px;
}
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #f8f8f8;
}
h1{
    font-size: 3rem;
}
button{
    cursor: pointer;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
}
header{
    background-color: #fff;
    width: 100vw;
    box-shadow: 0 1px 4px rgba(0,0,0,0.16);
}
header .container{
    margin: 0 auto;
    width: 60%;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}
main{
    margin-top: 5rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* card */
.card{
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1;
    top: 35%;
    left: 42.5%;
    height: 40rem;
    width: 30rem;
    padding: 2rem 1.5rem;
    background-color: #9c9c9c;
    border-radius: 2rem;
}
#card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
#card h3{
    font-size: 2rem;
}
input{
    width: 80%;
    border: none;
    border-radius: 1rem;
    padding: 1rem 1.5rem;
}
input[type='checkbox']{
    width: 50%;
}
input[type='submit']{
    width: auto;
    padding: 1.2rem 1.4rem;
    border: none;
    font-size: 1.6rem;
    font-weight: 600;
    color:black;
    background: #4edf4e;
}
.isRead{
    width: 80%;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
}
.isRead p {
    width: 25ch;
}